      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
        padding-top: 30px;
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
        padding: 5px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      .chevrons { color: #aaa; }
      
#logs {
height: 450px;
overflow: auto;
position: relative;
font-size: 11px;
line-height: 13px;}

#status {
	float: right;
}
